.card-artist {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
  background-color: #181818;
  padding: 20px;
  height: 279px;
  height: 100%;
  max-width: 201px;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
}
.card-artist > .spotify-button {
  position: absolute;
  bottom: 97px;
  right: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.card-artist > .spotify-button > .spotify-play-button {
  width: 48px;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px;
  height: 48px;
  border-radius: 50%;
  background-color: #1ed760;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.card-artist > .spotify-button > .spotify-play-button::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 15px;
  left: 18px;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 16px solid rgb(0, 0, 0);
  border-radius: 2px;
}

.card-artist > .spotify-button > .spotify-play-button:hover {
  transform: scale(1.1);
}

.card-artist > .spotify-button > .spotify-play-button:active {
  transform: scale(0.9);
}

.card-artist:hover {
  background-color: rgb(41, 41, 41);
}
.card-artist > img {
  width: 178px;
  height: 178px;
  border-radius: 50%;
  align-self: center;
}
.card-artist > h1 {
  font-size: 16px;
  color: white;
}
.card-artist > span {
  font-size: 14px;
  color: #b3b3b3;
}

@media (max-width: 1350px) {
  .card-artist {
    max-width: 180px;
    height: 279px;
    width: 100%;
  }
  .card-artist > img {
    width: 158px;
    height: 158px;
  }
}

@media (max-width: 957px) {
  .card-artist {
    max-width: 160px;
    height: 279px;
    width: 100%;
  }
  .card-artist > img {
    width: 138px;
    height: 138px;
  }
}

@media (max-width: 872px) {
  .card-artist {
    max-width: 201px;
    height: 279px;
    width: 100%;
  }
  .card-artist > img {
    width: 178px;
    height: 178px;
  }
}

@media (max-width: 819px) {
  .card-artist {
    max-width: 181px;
    height: 279px;
    width: 100%;
  }
  .card-artist > img {
    width: 158px;
    height: 158px;
  }
}

@media (max-width: 754px) {
  .card-artist {
    max-width: 151px;
    height: 279px;
    width: 100%;
  }
  .card-artist > img {
    width: 128px;
    height: 128px;
  }
}

@media (max-width: 674px) {
  .card-artist {
    max-width: 211px;
    height: 279px;
    width: 100%;
  }
  .card-artist > img {
    width: 178px;
    height: 178px;
  }
}

@media (max-width: 613px) {
  .card-artist {
    max-width: 181px;
    height: 279px;
    width: 100%;
  }
  .card-artist > img {
    width: 148px;
    height: 148px;
  }
}

@media (max-width: 503px) {
  .card-artist {
    max-width: 161px;
    height: 279px;
    width: 100%;
  }
  .card-artist > img {
    width: 128px;
    height: 128px;
  }
}
@media (max-width: 464px) {
  .card-artist {
    max-width: 141px;
    height: 279px;
    width: 100%;
  }
  .card-artist > img {
    width: 118px;
    height: 118px;
  }
}

@media (max-width: 422px) {
  .card-artist {
    max-width: 301px;
    height: 279px;
    width: 281px;
  }
  .card-artist > img {
    width: 148px;
    height: 148px;
  }
}

@media (max-width: 391px) {
  .card-artist {
    max-width: 250px;
    height: 279px;
    width: 250px;
  }
  .card-artist > img {
    width: 148px;
    height: 148px;
  }
}

@media (max-width: 362px) {
  .card-artist {
    max-width: 230px;
    height: 279px;
    width: 220px;
  }
  .card-artist > img {
    width: 148px;
    height: 148px;
  }
}
@media (max-width: 337px) {
  .card-artist {
    max-width: 220px;
    height: 279px;
    width: 205px;
  }
  .card-artist > img {
    width: 148px;
    height: 148px;
  }
}
