.artists {
  display: flex;
  flex-direction: column;
  gap: 30px;

  position: relative;
}
.artists > h1 {
  font-size: 23px;
}
.artists > .container-artists {
  position: relative !important;
}

.artists > .container-artists > .arrowLeft,
.artists > .container-artists > .arrowRight {
  position: absolute;
  width: 40px;
  height: 279px;
  background-color: #181818a2;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  transition: all ease 0.5s;
}
.artists > .container-artists > .arrowLeft {
  left: 0px;
}
.artists > .container-artists > .arrowRight {
  right: 0px;
}

.artists > .container-artists > .arrowLeft > svg,
.artists > .container-artists > .arrowRight > svg {
  font-size: 35px;
  opacity: 0.6;
}
.artists > .container-artists > .artists-area {
  overflow-x: hidden;
}
.artists > .container-artists > .artists-area > .artists-list {
  display: flex;
  gap: 20px;
  transition: all ease 1s;
}

.artists > .container-artists > .artists-area > .artists-list > .artist {
  display: flex;
  flex-direction: column;
  gap: 12px;

  background-color: #181818;
  padding: 20px;
  height: 279px;
  width: 201px;
  border-radius: 8px;
  cursor: pointer;
}
.artists > .container-artists > .artists-area > .artists-list > .artist:hover {
  background-color: rgb(41, 41, 41);
}
.artists > .container-artists > .artists-area > .artists-list > .artist > img {
  width: 178px;
  height: 178px;
  border-radius: 50%;
  align-self: center;
}
.artists > .container-artists > .artists-area > .artists-list > .artist > h1 {
  font-size: 16px;
}
.artists > .container-artists > .artists-area > .artists-list > .artist > span {
  font-size: 14px;
  color: #b3b3b3;
}
