.search-page {
  color: white;
  overflow: hidden;
  display: flex;
  background-color: #121212;
  height: 100vh;
}
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(61, 61, 61);
}

.search-page > .container {
  padding: 10px 0px;
  padding-right: 80px;
  padding-left: 30px;
  width: 100%;
}
/* header */
.search-page > .container > header {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.search-page > .container > header > .header-top > {
  display: flex;
}
.search-page > .container > header > .header-top > .search-input {
  background-color: white;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 5px 10px;
  max-width: 400px;
  border-radius: 32px;
}
.search-page > .container > header > .header-top > .search-input > svg {
  color: #121212;
  font-size: 30px;
}
.search-page > .container > header > .header-top > .search-input > input {
  background-color: transparent;
  color: #121212;
  height: 30px;
  width: 100%;
  border: none;
  outline: 0;
}
.search-page
  > .container
  > header
  > .header-top
  > .search-input
  > input::placeholder {
  color: #8f8f8f;
}
/* nav */
.search-page > .container > header > nav {
  display: flex;
  gap: 12px;
}
.search-page > .container > header > nav > button {
  background-color: #232323;
  color: rgb(255, 255, 255);
  height: 36px;
  padding: 12.5px;
  border: none;
  border-radius: 32px;
  display: flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}
/* results */
.search-page > .container > .body {
  overflow-y: auto;
  height: 100%;
  padding-bottom: 300px;
  margin-top: 17px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.search-page > .container > .body > .container-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}
/* box */
.search-page > .container > .body > .container-body > .box {
  display: flex;
  height: 100%;
  width: 100%;

  gap: 55px;
}
/* box */
/* -- best result --  */
.search-page > .container > .body > .container-body > .box > .best-result {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 450px;
  width: 100%;
}
.search-page > .container > .body > .container-body > .box > .best-result h1 {
  font-size: 23px;
}

.search-page
  > .container
  > .body
  > .container-body
  > .box
  > .best-result
  > .result {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #181818;
  padding: 20px;
  position: relative;
  cursor: pointer;
  border-radius: 8px;
}
.search-page
  > .container
  > .body
  > .container-body
  > .box
  > .best-result
  > .result:hover {
  background-color: rgb(41, 41, 41);
}
.search-page
  > .container
  > .body
  > .container-body
  > .box
  > .best-result
  > .result
  > img {
  width: 100px;
}

.search-page
  > .container
  > .body
  > .container-body
  > .box
  > .best-result
  > .result
  > h1 {
  font-size: 32px;
}
.search-page
  > .container
  > .body
  > .container-body
  > .box
  > .best-result
  > .result
  > span {
  color: #b3b3b3;
  font-size: 14px;
}
.search-page
  > .container
  > .body
  > .container-body
  > .box
  > .best-result
  > .result
  > .buttonPlay {
  opacity: 0;
  position: absolute;
  right: 20px;
  bottom: 15px;
  cursor: pointer;
  filter: brightness(0.95);
}
.search-page
  > .container
  > .body
  > .container-body
  > .box
  > .best-result
  > .result
  > .buttonPlay:hover {
  transform: scale(1.05, 1.05);
  filter: brightness(1);
}
.search-page
  > .container
  > .body
  > .container-body
  > .box
  > .best-result
  > .result
  > .buttonPlay
  > svg {
  font-size: 48px;
  color: #1ed760;
}
/* -- best result --  */

/* -- musics -- */
.search-page > .container > .body > .container-body > .box > .musics {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.search-page > .container > .body > .container-body > .box > .musics > h1 {
  font-size: 23px;
}
.search-page
  > .container
  > .body
  > .container-body
  > .box
  > .musics
  > .container-musics
  > .music {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-between;
}
.search-page
  > .container
  > .body
  > .container-body
  > .box
  > .musics
  > .container-musics
  > .music
  > .info
  > img {
  width: 40px;
  height: 40px;
}
.search-page
  > .container
  > .body
  > .container-body
  > .box
  > .musics
  > .container-musics
  > .music
  > .info {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px;
  gap: 16px;
}
.search-page
  > .container
  > .body
  > .container-body
  > .box
  > .musics
  > .container-musics
  > .music:hover {
  background-color: rgb(41, 41, 41);
}

.search-page
  > .container
  > .body
  > .container-body
  > .box
  > .musics
  > .container-musics
  > .music
  > .info
  > .title
  h1 {
  font-size: 16px;
}
.search-page
  > .container
  > .body
  > .container-body
  > .box
  > .musics
  > .container-musics
  > .music
  > .info
  > .title
  span {
  color: #a7a7a7;
  font-size: 14px;
}
.search-page
  > .container
  > .body
  > .container-body
  > .box
  > .musics
  > .container-musics
  > .music
  > .time {
  margin-left: 150px;
  color: #a7a7a7;
  font-size: 14px;
}
/* -- musics -- */
